# signi_test

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("junkfood.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Acne       1000 non-null   int64
 1   Food       1000 non-null   object
 2   Frequency  1000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

   Acne       Food  Frequency
0     5    Burgers         21
1     6  Chocolate         26
2     5  Ice cream         17
3     1  Ice cream          1
4     0       Cake          2

In [5]:
df.corr()

               Acne  Frequency
Acne       1.000000   0.018163
Frequency  0.018163   1.000000

In [7]:
print(df.loc[df["Acne"] < 3 ,"Frequency"].mean())
print(df.loc[df["Acne"] > 7 ,"Frequency"].mean())

14.5357833655706
14.878205128205128

In [9]:
from scipy.stats import pearsonr
corr ,pvalue = pearsonr(df["Acne"] ,df["Frequency"] )
print(f"Correlation is {corr:.3f}, with p-value of {pvalue:0.4f}")

Correlation is 0.018, with p-value of 0.5662

In [13]:
foods = df["Food"].unique()
alpha = 0.05
for f in foods:
    df2 = df.loc[df["Food"] == f]
    correlation, pvalue = pearsonr(df2["Acne"], df2["Frequency"])
    if pvalue < alpha:
        print(f"Significant correlation (pvalue {pvalue:0.4f}) between {f}: {correlation:.3f}!!")
    else:
        print(f"No significant correlation for {f}")

No significant correlation for Burgers
No significant correlation for Chocolate
No significant correlation for Ice cream
Significant correlation (pvalue 0.0326) between Cake: 0.229!!
No significant correlation for Donuts
No significant correlation for Lollies
No significant correlation for Pure Sugar
No significant correlation for Cheese Pizza
No significant correlation for Brownies
No significant correlation for Milkshakes
No significant correlation for Soft Drink